.main-complaint{
    margin-top: 55px  ;
    margin-left: 0px;
    padding-left: 0;
    border-left: darkblue 5px solid;


    
}
.main-complaint-header{
    background-color: rgb(236, 236, 236);
    /* background-color: rgba(110, 183, 255, 0.842); */
    /* border-bottom-right-radius: 25px; */
    border-top-right-radius: 25px;
    /* border-left: darkblue 2px solid; */
    /* padding: 10px; */
    padding-top: 10px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
}
.main-complaint-header h1 {
    margin-top: 8px;
    margin-left: 5px;
    font-size: 26px;
    font-weight: bolder;
}
.main-complaint-content{

    background-color: rgb(236, 236, 236);
    padding-left: 14px;
    min-width: 200px;
    min-height: 120px;
    /* padding-top: 30px; */
     border-bottom-right-radius: 25px;
    /*border-top-right-radius: 25px;*/ 
}
.main-complaint-content p {
    font-weight: 400;
    font-size: 17px;

}
.replayes{
    margin-top: 10px;
    margin-left: 30px;
    padding-left: 20px;
    /* border-left: rgb(145, 145, 145) solid 1px; */

}
.replay-card{
    margin-top: 10px;
    

    /* border-left: gray solid 2px; */
    /* border-top-left-radius: 5px; */
    /* border-bottom-left-radius: 5px; */
    
    
}
.replay-header{
    /* background-color: rgb(238, 238, 149); */
    background-color: rgb(250, 250, 250);
    /* border-bottom-right-radius: 25px; */
    border-top-right-radius: 25px;
    /* border-left: darkblue 2px solid; */
    padding-top: 18px;
    padding-bottom: 2px;
    padding-right: 18px;
    padding-left: 18px;

}
.replay-header h2 {
    margin-top: 8px;
    margin-left: 5px;
    font-size: 22px;
    font-weight:700;
    /* font-family: 'Times New Roman', Times, serif; */

}
.replay-content{
    background-color: rgb(250, 250, 250);
    /* padding: 18px; */
    padding-left: 18px;

    min-width: 200px;
    min-height: 120px;
    padding-top: 5px;
    border-bottom-right-radius: 25px;
    /* border-top-right-radius: 25px; */

}
.replay-content p{
    font-weight: 400;
    font-size: 17px;

}


.adding-resolve{
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 40px;

}
.adding-resolve label {
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 10px ;


}
#accept{
    margin-top: 20px;

}
#reject{
    margin-top: 20px;
    margin-left: 40px;

}
#deleteComplaint{
    text-align: right;
}

.timeline {
    position: relative;
    display: block;
    list-style: none;
    padding-left: 0;
    width: 100%;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 2px;
    height: 95%;
    background-color: #e3e5e9;
  }
  
  .timeline li {
    position: relative;
    display: block;
    padding-left: 30px;
    margin-bottom: 20px;
  }
  
  .timeline li::before {
    content: '';
    position: absolute;
    top: 8px;
    left: -8px;
    width: 18px;
    height: 18px;
    background-color: #747474;
    border: 3px solid #fff;
    border-radius: 50%;
  }
  .bg-darkblue{
      background-color: darkblue !important;
  }
  
  .timeline li .title {
    width: 150px;
    padding: 6px 20px;
    background-color: #747474;
    color: #fff;
    font-weight: 700;
    border-radius: 30px 0 60px 30px;
  }
  
  .timeline li .details {
    background-color: #f4f5f8;
    margin-top: 8px;
    padding: 20px;
    border-radius: 4px;
  }
  
  .timeline li .details h5,
  .timeline li .details p {
    margin-bottom: 0;
  }
  
  .timeline li .details small {
    display: block;
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  