.main-complaint{
    margin-top: 35px  ;
    margin-left: 0px;
    padding-left: 0;
    border-left: darkblue 2px solid;


    
}
.main-complaint-header{
    background-color: rgba(110, 183, 255, 0.842);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    /* border-left: darkblue 2px solid; */
    padding: 8px;
}
.main-complaint-header h1 {
    margin-top: 8px;
    margin-left: 5px;
}
.main-complaint-content{

    background-color: rgb(236, 236, 236);
    padding: 18px;
    min-width: 200px;
    min-height: 120px;
    padding-top: 30px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
.main-complaint-content p {
    font-weight: 400;
    font-size: 17px;

}
.replayes{
    margin-top: 10px;
    margin-left: 30px;
    padding-left: 20px;
    border-left: rgb(145, 145, 145) solid 1px;

}
.replay-card{
    margin-top: 10px;
    

    border-left: gray solid 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
    
}
.replay-header{
    background-color: rgb(238, 238, 149);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    /* border-left: darkblue 2px solid; */
    padding: 8px;

}
.replay-header h2 {
    margin-top: 8px;
    margin-left: 5px;

}
.replay-content{
    background-color: rgb(250, 250, 250);
    padding: 18px;
    min-width: 200px;
    min-height: 120px;
    padding-top: 30px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;

}
.replay-content p{
    font-weight: 400;
    font-size: 17px;

}


.adding-resolve{
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 40px;

}
.adding-resolve label {
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 10px ;


}
.adding-resolve button:first-of-type{
    margin-top: 20px;

}
.adding-resolve button:last-child{
    margin-top: 20px;
    margin-left: 40px;

}

