<div class="container-fluid">
    <div class="row">
        <div class="main-complaint col-12   ">
            <div class="main-complaint-header">
                <h1>{{serviceComplaint.name}}</h1>
            </div>
            <div class="main-complaint-content">
                <p>{{serviceComplaint.content}}</p>
            </div>

        </div>

        <div class="row">
            <div class="replayes"  *ngFor="let item of serviceComplaint.flow.steps">
                <div *ngIf="item.valid">
                    <div class="replay-card ">
                        <div class="replay-header card-header">
                            <h2>{{ item.employeeinfo }}</h2>
                        </div>
                        <div class="replay-content card-body">
                            <p>{{ item.note }}</p>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
        <div class="card w-100 bg-primary text-white">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Button</a>
            </div>
          </div>
        <div class="row">
            <wait-speener [showSpeener] = "isLoading"></wait-speener>

            <div class="adding-resolve" *ngIf="!isLoading" ngSwitch="">
                <label for="complaint-solve">Add your view to the complaint</label>
                <textarea id="complaint-solve" class="form-control" type="" name="complaint-solve" [(ngModel)]="noteText"></textarea>
                <button class="btn btn-success" (click)="accepted()">Accept</button>
                <button class="btn btn-danger" (click)="rejected()">Reject</button>

            </div>
        </div>
    </div>
</div>