.card {
    background-color: #253138;
    color: #e2f5ff;
}
.add-employee-btn{
    background-color: rgb(93, 172, 236);
    color: white;
    margin-bottom: 1.2rem;
    margin-top: 1rem;
}
.add-employee{
    color: rgb(255, 255, 255);
    
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border: 1px solid white ;
    border-radius: 20px;
    padding: 1rem;
}
.checked-options {
    float: right;

}

table>tbody {
    font-size: 1.1rem;
}

table>tbody>tr:nth-child(odd)>td, table>tbody>tr:nth-child(odd)>th {
    background-color: #212529;
}

table>tbody>tr:nth-child(even)>td, table>tbody>tr:nth-child(even)>th {
    background-color: #2c3034;
}
table th , table tbody tr th{
    font-weight:400;
}
table tbody tr td , table tbody tr select , table tbody tr select option {
    font-weight: 100;
}
.table-select {
    padding: 0;
    border: none;
    background: inherit;
    background-color: inherit;
    color: inherit;
    border-color: inherit;
    cursor: pointer;
    font-size: 1.1rem;
}   
.table-select:focus{
    border: 2px solid #98a6ad !important;
    border-radius: 5px;
    box-shadow: none;
    padding: 2px;
}

table>tbody>tr>td:nth-child(2) {
    cursor: pointer;
}

.add-employee input , .add-employee select {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;

}
table>tbody>tr>td {
    cursor: pointer;
}
.card-footer>button{
    margin-left: 1.2rem;
}
.list-group-item{
    font-size:1.2rem;
    cursor: pointer;
    background-color: inherit;
    transition: all 0.2s ease-in-out;
    border:none;
    border-bottom: 1px solid whitesmoke;
    margin-top: 10px;
    color: inherit;
}
.list-group-item:hover{
    left: -10px;
    transform :scaleX(1.01);

}


.search {
    width: 100%;
    margin-bottom: auto;
    margin-top: 20px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
        caret-color: transparent;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear
}

.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px
}

.search-icon:hover {
    color: #fff !important
}

a:link {
    text-decoration: none
}
