<div class="card mt-3">
    <div class="card-header">
        All Employees
    </div>
    <div class="card-body ">
        <button class="btn add-employee-btn" [hidden]='isaddEmployeeHidden'
            (click)="isaddEmployeeHidden = !isaddEmployeeHidden">Add Employee</button>

        <form [formGroup]="addEmployeeForm" [hidden]="!isaddEmployeeHidden" 
        class="form-group add-employee">
            <div class="row">
                <div class="col-5 ">
                    <label for="employeeFirstName">first Name</label>
                    <input id="employeeFirstName" class="form-control" 
                    placeholder="Enter Employee first name" value=""
                        formControlName='firstName'>
                </div>
                <div class="col-5 offset-1">
                    <label for="employeeLastName">Last Name</label>
                    <input id="employeeLastName" class="form-control" 
                    placeholder="Enter Employee last name" value=""
                        formControlName='lastName'>
                </div>
            </div>
            <div class="row">

                <div class="col-5 ">
                    <label for="employeeEmail">Email Adress</label>
                    <input id="employeeEmail" class="form-control" 
                    placeholder="Enter Employee first name" value=""
                        formControlName='email'>
                </div>
                <div class="col-5 offset-1">
                    <label for="employeeSection">Employee Section</label>
                    <select id="employeeSection" class="form-control" 
                    formControlName='employeeSection'>

                        <option *ngFor="let section of sectionArray" [value]="section">
                            {{ section }}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class=" col-2 ">
                    <button class="btn add-employee-btn" (click)="saveForm()">Save employee</button>
                </div>
                <div class="col-2">
                    <button class=" btn btn-danger" style="margin-top: 1rem;margin-bottom: 1.2rem;"
                        (click)="closeForm()">Cancel</button>
                </div>
            </div>

        </form>
        <table class="table table-dark" *ngIf="isThereEmplyees()">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Section</th>
                    <th scope="col">Employee ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email Adress</th>
                    <th scope="col">Under Section</th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let emp of employeeArray; let idx = index">
                    <th class="col-1" rowSpan="{{ getSectionLength(emp.getSectionName() ) }}" 
                    scope="rowgroup" *ngIf="idx === 0 ||(
                        employeeArray.length != 1 &&
                    employeeArray[idx].getSectionName() != employeeArray[idx - 1].getSectionName())">
                        {{ emp.getSectionName() }}</th>
                    <td  class="col-1" scope="row">
                     <span name="id">{{ emp.getId() }}</span></td>
                    <td  class="col-2" scope="row"
                     replaceDataEmployee (onEmployeeChange)="changeEmployeeData($event)">
                     <span name="firstname">{{ emp.getFirstname() }}</span></td>
                    <td  class="col-2" scope="row" 
                    replaceDataEmployee (onEmployeeChange)="changeEmployeeData($event)">
                    <span name="lastname">{{ emp.getLastname() }}</span></td>
                    <td  class="col-2" scope="row" 
                    replaceDataEmployee 
                    (onEmployeeChange)="changeEmployeeData($event)">
                    <span  name="email">{{ emp.getEmail() }}</span></td>
                    <td class="col-2" scope="row"  >
                        <select class="form-select table-select" 
                        (change)="onSectionNameChange($event.target)">
                            <option *ngFor="let sec of sectionArray" [value]="sec"
                                [selected]="sec == emp.getSectionName()">{{ sec }}</option>
                        </select>
                    </td>
                </tr>
            
            </tbody>
        </table>
    </div>
    <div class="card-footer text-center">
        <button [disabled]="!isThereEmplyees()" (click)="saveChanges(template)" class="btn btn-success ">Save</button>
        <button [disabled]="!isThereEmplyees()" (click)="resetChanges()" class="btn btn-danger ">Reset Data</button>

        <ng-template #template>
            <div class="modal-body text-center">
                <p>Do you want to confirm?</p>
                <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
                <button type="button" class="btn btn-primary" (click)="decline()">No</button>
            </div>
        </ng-template>
    </div>
</div>