<div id="sidemenu" class=" sidenav nav-tabs" [ngClass]="{'closed' : !isMenuCollapsed}">

    <p>George</p>
    <img src="../../../assets/shared/images/unknownaccount.png" alt="" srcset="">
    <ul ngbNav>
        <li [ngbNavItem]="1">
            <a routerLink='addDepartments'
            routerLinkActive="active"
            ngbNavLink> Add Section</a>
        </li>
        <li [ngbNavItem]="2">
            <a routerLink='addEmployee' ngbNavLink> Add Employee </a>
        </li>
        <li [ngbNavItem]="3">
            <a routerLink='complaints' ngbNavLink> Complaint Moving</a>
        </li>
    </ul>

</div>